<table class="table table-striped">
    <thead>
        <tr>
        <%
            for (var key in headers) {
                if (headers.hasOwnProperty(key)) {
        %>
                    <th><%= headers[key] %></th>
        <%      }
            }
        %>
        </tr>
    </thead>

    <tbody>
    <% rows.each(function(index, model) { %>
        <tr <%= model %>>
        <%
            for (var key in headers) {
        %>
                <td><%= model.attr(key) ? model.attr(key) : '' %></td>
        <%
            }
        %>
        </tr>
    <% }); %>
    </tbody>
</table>